@charset "UTF-8";

  /* 編集ページ */
  .edit{
    display: flex;
  }

	table{
    /* 予定とToDoと日記のところを分ける */
 	 /*border: solid 3px;
    border-collapse:  collapse;
    border-color:darkorange; */
    padding: 5px;
    margin: 5px;
    table-layout: fixed;


  }

/*アコーディオンのタイトル部分*/
  summary {
  /*display: block;*/
  cursor: pointer;
  transition: 0.2s; /* 変化を滑らかに */
}

summary:hover {
  cursor: pointer; /* カーソルを指マークに */
  background-color: #EFEFEF;
}
 /*アコーディオンの中身*/
 details {
  height: 20px;
  transition: .5s;
}
details[open] {
  height:280px;
  background: #c3f6ff;
}

  .titlefont{
    font-size:18px;
    height:10px;
  }

  .shorttext{
 	font-size: 14px;
 	width: 30px;
 	height:10px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .longtext{
    width: 50px;
    height: 10px;
  }

  .diarycontent{
  	width:50rem;
  	height: 10rem;
  }

  tr{
    height:10px;
  }
