@charset "UTF-8";

  /* 編集ページ */
  .edit{
    display: flex;
  }

 table{
   padding: 5px;
   margin: 5px;
   table-layout: fixed;
 }

 .scheduleedit{
 	margin:10px;
 }

 .todoedit{
 	margin:10px;
 }

/*アコーディオンのタイトル部分*/
  summary {
  /*display: block;*/
  cursor: pointer;
  transition: 0.2s; /* 変化を滑らかに */
}

summary:hover {
  cursor: pointer; /* カーソルを指マークに */
  background-color:  #EFEFEF;
}
 /*アコーディオンの中身*/
 details {
  height: 20px;
  transition: .5s;
}
details[open] {
  height:250px;
  background: #afeeee;
}
table{
	padding: 10px;
}
  .titlefont{
    font-size:18px;
    width:230px;
    height:20px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

  .shorttext{
 	font-size: 14px;
 	width: 100px;
 	height:20px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .longtext{
 	font-size: 12px;
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .diarycontent{
  	width:50rem;
  	height: 10rem;
  	margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.h2 img{
	width:300px;
	height:100px;
}