@charset "UTF-8";

/* 追加ページ */
  .add{
    display: flex;
  }

  .addtitle{
  	display: flex;
  }

 table{
   padding: 5px;
   margin: 5px;
   table-layout: fixed;
   border-style: dotted;
   border-color:#fff;
   border-width:5px;
 }

 .scheduleedit{
 	margin:10px;
 }

 .todoedit{
 	margin:10px;
 }




  .titlefont{
    font-size:18px;
    width:230px;
    height:20px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

  .shorttext{
 	font-size: 14px;
 	width: 100px;
 	height:20px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .longtext{
 	font-size: 12px;
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.h2 img{
	width:300px;
	height:100px;
}


